NET "PCLK" LOC = "E3" | IOSTANDARD =LVTTL | PULLUP;
NET "PRESETN" LOC = "R16" | IOSTANDARD =LVTTL | PULLUP ;
NET "PSEL" LOC = "N16" | IOSTANDARD =LVTTL | PULLUP ;

NET "RX" LOC = "T18" | IOSTANDARD =LVTTL ;
NET "PADDR[1]" LOC = "N17" | IOSTANDARD =LVTTL | PULLUP;
NET "PADDR[0]" LOC = "P18" | IOSTANDARD =LVTTL | PULLUP;
NET "PWRITE" LOC = "N14" | IOSTANDARD =LVTTL | PULLUP;
NET "PENABLE" LOC = "U17" | IOSTANDARD =LVTTL | PULLUP;

NET "PWDATA[7]" LOC = "T16" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[6]" LOC = "T15" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[5]" LOC = "T14" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[4]" LOC = "R12" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[3]" LOC = "T11" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[2]" LOC = "P14" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[1]" LOC = "U16" | IOSTANDARD =LVTTL | PULLUP;
NET "PWDATA[0]" LOC = "V15" | IOSTANDARD =LVTTL | PULLUP;

NET "TXRDY" LOC = "J3" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8; //redled2
NET "RXRDY" LOC = "M16" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8; //led2blue
NET "TX" LOC = "N15" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8; //io8

NET "PREADY" LOC = "H6" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;//led blue


NET "clktoclk" LOC = "P15" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;  //io33
NET "baudtick" LOC= "R18" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8; 

NET "DATAOUT[7]" LOC = "T1" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[6]" LOC = "M6" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[5]" LOC = "N6" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[4]" LOC = "P17" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[3]" LOC = "H4" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[2]" LOC = "K2" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[1]" LOC = "G4" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "DATAOUT[0]" LOC = "E1" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;

NET "PRDATA[7]" LOC = "V9" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[6]" LOC = "U7" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[5]" LOC = "U6" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[4]" LOC = "R7" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[3]" LOC = "T10" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[2]" LOC = "T9" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[1]" LOC = "J5" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[0]" LOC = "H5" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;